@media (max-width: 959px) {
  header {
    height: 500px;
  }
  
  .header-mask {
    height: 500px;
  }
  
  .header-text h1 {
    margin-left: 20vw;
    padding-top: 130px;
  }
  
  /* main */
  .main-contents {
    margin: auto;
    width: 60%;
    text-align: center;
    padding: 20px 100px;
  }
  /* ポメくん */
  .pome-detail {
    width: 90%;
  }
  /* footer */
  footer {
    height: 530px;
  }
  
  .footer-mask {
    height: 530px;
  }

  .footer-contents {
    margin: 40px 6vw;
  }
  
  .youtube {
    padding-left: 10px
  }
  
  .sns {
    margin-right: 0vw;
  }

}

@media (max-width: 746px) {
  header {
    height: 400px;
  }
  
  .header-mask {
    height: 400px;
  }
  
  .header-text h1 {
    margin-left: 20vw;
    padding-top: 130px;
  }

  /* ポメくん */
  .pome-detail {
    width: 100%;
  }

  .main-detail {
    display: block;
    padding: 10px 0;
  }

  .pome-detail h1 {
    font-size: 20px;
  }

  .pome-detail h2 {
    font-size: 15px;
  }

  .pome span {
    font-size: 25px;
  }

  .pome-pome {
    padding: 0px 0px;
  }

  .toshi span {
    font-size: 25px;
  }

  .toshi-toshi {
    padding: 0px 0px;
  }

  /* footer */
  footer {
    height: 430px;
  }
  
  .footer-mask {
    height: 430px;
  }


  .footer-wrapper {
    width: 100%;
  }
  
  .footer-wrapper > h1 {
    font-size: 40px;
    font-family: fantasy;
  }
  
  .footer-contents {
    margin: 10px 0vw;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.397);
  }

  iframe {
    height: 250px;
    width: 300px;
  }
  
  .footer-content {
    padding: 30px 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .youtube {
    padding-left: 0vw;
  }
  
  .sns {
    padding-top: 150px;
    margin-right: 20px;
  }
  
  
  